img {
    float: left;
    margin-left: 500px;
    
}

h1 {

    width: 300px;
    height: 300px;
    padding-left: 40px;
    margin-left: 600px;
} 

h2 {
    margin-left: 740px;
    
}

p {
    background-color: aqua;
    text-decoration: none;
    word-spacing: 5px;
    padding: 20px;
    margin: 60px 60px 60px 60px;
    text-indent: 20px; 
    box-shadow: 10px 10px;
    
    
}   

a {
    color:black;
    text-decoration: none;
}

.head {
    border: solid;
    background-color: aqua;
    height: 100px;
    box-shadow: 10px 10px ;
}